function Trex.new 0
push constant 11
call Memory.alloc 1
pop pointer 0
push constant 3
pop static 0
push constant 30
neg
pop static 1
push constant 1
neg
pop this 10
push argument 0
pop this 0
push this 0
push constant 0
eq
not
if-goto $_IF_FALSE0
push constant 7300
pop this 0
goto $_IF_END0
label $_IF_FALSE0
label $_IF_END0
push this 0
push constant 32
call Math.divide 2
push constant 16
sub
pop this 7
push this 7
pop this 6
push this 0
pop this 1
push constant 0
pop this 2
push constant 0
not
pop this 3
push constant 0
pop this 4
push constant 0
pop this 5
push constant 0
pop this 8
push constant 0
pop this 9
push this 0
call Graphics.drawStand 1
pop temp 0
push pointer 0
return
function Trex.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Trex.set_physics 0
push argument 0
pop static 0
push argument 1
pop static 1
push constant 0
return
function Trex.update_jump 0
push static 1
push argument 0
push argument 0
add
push argument 0
add
push argument 0
add
push argument 0
add
sub
pop static 1
push static 1
push constant 45
neg
lt
push static 1
push constant 15
neg
gt
or
not
if-goto $_IF_FALSE1
push constant 30
neg
pop static 1
goto $_IF_END1
label $_IF_FALSE1
label $_IF_END1
push constant 0
return
function Trex.set_velocity 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function Trex.update 0
push argument 0
pop pointer 0
push this 8
not
if-goto $_IF_FALSE2
push this 9
push constant 0
gt
not
if-goto $_IF_FALSE3
push this 9
push constant 1
sub
pop this 9
goto $_IF_END3
label $_IF_FALSE3
push constant 0
pop this 8
label $_IF_END3
goto $_IF_END2
label $_IF_FALSE2
label $_IF_END2
push this 10
push constant 0
eq
not
if-goto $_IF_FALSE4
push constant 5
pop this 4
goto $_IF_END4
label $_IF_FALSE4
label $_IF_END4
push this 10
push constant 1
sub
pop this 10
push this 4
push constant 0
eq
not
if-goto $_IF_FALSE5
push this 5
push constant 3
eq
not
if-goto $_IF_FALSE6
push constant 0
pop this 5
goto $_IF_END6
label $_IF_FALSE6
push this 5
push constant 1
add
pop this 5
push constant 1
neg
return
label $_IF_END6
push this 2
push static 0
add
pop this 2
push this 0
push constant 32
push this 2
call Math.multiply 2
add
pop this 0
push this 6
push this 2
add
pop this 6
push this 0
push this 1
gt
not
if-goto $_IF_FALSE7
push this 1
pop this 0
push this 7
pop this 6
push this 2
push constant 1
gt
not
if-goto $_IF_FALSE8
push this 0
push this 2
call Graphics.drawJump 2
pop temp 0
goto $_IF_END8
label $_IF_FALSE8
label $_IF_END8
push constant 0
pop this 2
goto $_IF_END7
label $_IF_FALSE7
label $_IF_END7
push this 0
push this 1
eq
not
if-goto $_IF_FALSE9
push pointer 0
call Trex.swap_feet 1
pop temp 0
goto $_IF_END9
label $_IF_FALSE9
push this 0
push this 2
call Graphics.drawJump 2
pop temp 0
label $_IF_END9
goto $_IF_END5
label $_IF_FALSE5
push this 4
push constant 3
eq
not
if-goto $_IF_FALSE10
push this 0
push constant 1
add
call Graphics.eraseCrouchHead 1
pop temp 0
push this 0
push constant 511
sub
call Graphics.drawStandHead 1
pop temp 0
push constant 0
pop this 4
push this 6
push constant 16
sub
pop this 6
push constant 1
neg
pop this 10
goto $_IF_END10
label $_IF_FALSE10
push this 4
push constant 2
eq
not
if-goto $_IF_FALSE11
push pointer 0
call Trex.swap_feet 1
pop temp 0
push constant 3
pop this 4
goto $_IF_END11
label $_IF_FALSE11
push this 4
push constant 1
eq
not
if-goto $_IF_FALSE12
push this 2
not
if-goto $_IF_FALSE13
push this 0
call Graphics.eraseStand 1
pop temp 0
push this 1
pop this 0
push constant 0
pop this 2
push this 0
call Graphics.drawCrouch 1
pop temp 0
push constant 3
pop this 4
push this 7
push constant 16
add
pop this 6
goto $_IF_END13
label $_IF_FALSE13
push this 0
push constant 511
sub
call Graphics.eraseStandHead 1
pop temp 0
push this 0
call Graphics.drawCrouch 1
pop temp 0
push constant 3
pop this 4
push this 6
push constant 16
add
pop this 6
push this 6
push constant 200
lt
not
if-goto $_IF_FALSE14
push constant 200
pop this 10
push constant 0
return
goto $_IF_END14
label $_IF_FALSE14
label $_IF_END14
push constant 1
neg
return
label $_IF_END13
goto $_IF_END12
label $_IF_FALSE12
push this 1
pop this 0
push constant 0
pop this 2
push this 0
call Graphics.drawCrouch 1
pop temp 0
push constant 3
pop this 4
push this 7
push constant 16
add
pop this 6
push constant 3
pop this 4
label $_IF_END12
label $_IF_END11
label $_IF_END10
label $_IF_END5
push constant 1
neg
return
function Trex.swap_feet 0
push argument 0
pop pointer 0
push this 3
not
if-goto $_IF_FALSE15
push this 0
call Graphics.drawFeet1 1
pop temp 0
push constant 0
pop this 3
goto $_IF_END15
label $_IF_FALSE15
push this 0
call Graphics.drawFeet2 1
pop temp 0
push constant 0
not
pop this 3
label $_IF_END15
push constant 0
return
function Trex.crouch 0
push argument 0
pop pointer 0
push this 4
not
if-goto $_IF_FALSE16
push constant 2
pop this 4
goto $_IF_END16
label $_IF_FALSE16
push constant 1
pop this 4
label $_IF_END16
push constant 0
return
function Trex.jump 0
push argument 0
pop pointer 0
push this 0
push this 1
eq
not
if-goto $_IF_FALSE17
push static 1
pop this 2
push constant 5
return
goto $_IF_END17
label $_IF_FALSE17
label $_IF_END17
push constant 1
neg
return
function Trex.collision_box_tly 0
push argument 0
pop pointer 0
push this 6
return
function Trex.becomeImmortal 0
push argument 0
pop pointer 0
push argument 1
push constant 60
call Math.multiply 2
pop this 9
push constant 0
not
pop this 8
push constant 0
return
function Trex.isImmortal 0
push argument 0
pop pointer 0
push this 8
return
function Trex.immortal_remaining 0
push argument 0
pop pointer 0
push this 9
return
